.navbar{
    height: 60px;
   
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.search-field{
    border: 0.5px solid black;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 5px;
}
input{
    border: none;
}
input:focus-visible{
    outline: none;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 19px;
}