.container{
    height: 60vh;
    background-color: #fcf5ff;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.title h1{
    font-size: 70px;
    margin-bottom: 20px;
}

.description h3{
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 20px;
}
.inputcontainer {
    width: 50%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgrey;
}
.inputcontainer input{
    flex: 8;
    padding-left: 20px;
}
#input-btn{
   flex: 1;
   border: none;
   background-color: lightsalmon;
   color: white;
}