.info-card{
    opacity: 0;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
background-color: rgba(0,0,0,0.2);
z-index: 3;
transition: all 0.5s ease;
cursor:  pointer;
}
.product-container{
    flex: 1;
    margin: 5px;
    min-width: 280px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5fbf5;
    position: relative;
}

.product-container:hover .info-card{
    opacity: 1;
}

#image{
    height: 75%;
    z-index: 2;
}


.icons{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: all 0.5s ease;
}
.icons:hover{
    background-color: #e9f5f5;
    transform: scale(1.1);
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    position: absolute ;
}